<header>
    <nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand">Zachary Houston Portas</a>
        </div>

        <ul class="nav navbar-nav navbar-right">
            <li><a href="partials/view_about.html"><i class="fa fa-beer"></i> About </a></li>
            <li><a href="partials/view_skills.html"><i class="fa fa-bolt"></i> Skills </a></li>
            <li><a href="partials/view_education.html"><i class="fa fa-book"></i> Education </a></li>
            <li><a href="partials/view_references.html"><i class="fa fa-thumbs-up"></i> References</a></li>
        </ul>
    </div>
    </nav>
</header>

<div class="row">
    <div class="col-md-6">
        <img src="images/linkedin_picture.jpeg"/>
    </div>
        <div class="col-md-6">
{{ message }}
        </div>
</div>