<div id="college_div_wraps_all">    
    <header id="header">
        <nav class="navbar navbar-inverse navbar-static-top" id="main_navbar_id">
            <div class="container-fluid" id="navbar">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#myNavbar" >
                    <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span> 
                     </button>
                         <a class="navbar-brand" href="#main" style="" id="brand_img"> Zachary Houston Portas</a>
                            <div id="imagesToFadeIn">
                                <img src="images/kain_ff2.gif">
                                <img src="images/Kefka_-_Laugh.gif">
                                <img src="images/Locke-Finger.gif">
                                <img src="images/mog_ff6.gif">
                                <img src="images/cactuar.gif">
                                <img src="images/sabin_pummel.gif">
                                <img src="images/terra.gif">
                            </div>    
                </div>
                    <div class="collapse navbar-collapse" id="myNavbar"> 
                        <ul class="nav navbar-nav navbar-right"  id="navbar_list">
                            <li> <a> <i class="fa fa-coffee"> </i> About </a>
                                <ul id="about_list" style="list-style: none">
                                   <li> <a href="#home" style="color: #999999"> <i class="fa fa-home" style="margin-right: 5px"></i> Home </a> </li>
                                   <li> <a href="#info" style="color: #999999"> <i class="fa fa-gears" style="margin-right: 5px"></i> Info </a> </li>
                                   <li> <a href="#goals" style="color: #999999"> <i class="fa fa-globe" style="margin-right: 5px"></i> Goals </a> </li>
                                </ul>         
                            </li>
                            <li> <a> <i class="fa fa-bolt"> </i> Skills </a>
                                <ul id="skills_list" style="list-style: none">
                                   <li> <a href="#professional" style="color: #999999"> <i class="fa fa-desktop" style="margin-right: 5px"></i> Professional </a> </li>
                                   <li> <a href="#personal" style="color: #999999"> <i class="fa fa-user" style="margin-right: 5px"></i> Personal </a> </li> 
                                </ul>         
                            </li>
                            <li> <a> <i class="fa fa-book"> </i> Education </a>
                                <ul id="education_list" style="list-style: none">
                                   <li> <a href="#high_school" style="color: #999999"> <i class="fa fa-flag-checkered" style="margin-right: 5px"></i> High School </a> </li>
                                   <li> <a href="#college" style="color: #999999"> <i class="fa fa-fighter-jet" style="margin-right: 5px"></i> College </a> </li>
                                </ul>         
                            </li>
                            <li><a href="#projects"><i class="fa fa-thumbs-up"></i> Projects </a></li>
                        </ul>
                    </div>
            </div>
        </nav>
    </header>

    <div>
        <p style="text-align: center; color: #111111"> I've completed 42 credit hours at the Community College of the Air Force through courses taken in basic and advanced training in the United States Air Force. </p>
    </div>

</div>